/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.containerMain {
  font-family: "Rubik", sans-serif;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.cardBody h1 {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #7e98df;
}

.cardBody h5 {
  font-size: 14px;
  color: #232323;
  margin: 20px 0;
}

.label {
  font-size: 14px;
  color: #848484;
  opacity: 0.75;
}

.input {
  border: none;
  border-bottom: 1px solid #504d4d;
  border-radius: 0;
}

.cardBody h6 {
  font-size: 16px;
  text-align: right;
  color: #7e98df;
  margin: 20px 0;
}

.button {
  width: 100%;
  background: #7e98df;
  border-radius: 70px;
  border: 1px solid #7e98df;
}

.cardBody .loginWith {
  font-size: 16px;
  text-align: center;
  color: #848484 !important;
  flex-direction: row;
  display: flex;
  margin: 20px 0;
}

.cardBody .loginWith::before,
.cardBody .loginWith::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto;
}

.cardBody .loginWith::before {
  margin-right: 1rem;
}

.cardBody .loginWith::after {
  margin-left: 1rem;
}

.google {
  background: #ffffff;
  border: 1px solid #7e98df;
  box-sizing: border-box;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7e98df;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.button,
.google {
  padding: 10px 0;
}

.cardBody label {
  margin-left: 15px;
}

.button:hover,
.google:hover,
.google img:hover,
.google label:hover {
  cursor: pointer;
  background-color: #2355df;
  color: white;
}

.cardBody h3 {
  text-align: center;
  font-size: 14px;
  color: #313131;
  margin-top: 20px;
}

span {
  color: #7e98df;
}

.cardBody span:hover,
.cardBody h6:hover {
  cursor: pointer;
  color: #2355df;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .containerMain {
    width: 80%;
  }
}
