@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.containerMain {
  padding: 0 30px;
  font-family: "Rubik", sans-serif;
}

.coloumn1 {
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.menu {
  position: absolute;
  background: #7e98df;
  border-radius: 35px 10px 35px 35px;
  padding: 10px 20px;
  width: 16%;
  z-index: 99;
  margin-left: 75px;
}

.icon img {
  width: 11%;
  margin-right: 15px;
}

.icon p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
  padding: 10px;
}

.coloumn1 h2 {
  font-weight: 800;
  font-size: 29px;
  color: #7e98df;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}

.search div {
  border: rgb(204, 204, 211) solid 1px;
  width: 85%;
  background-color: rgb(246, 246, 250);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search div img {
  margin: 0 0 0 20px;
}

.search input {
  width: 90%;
  border: none;
  border-radius: 10px;
  background-color: rgb(246, 246, 250);
  padding: 7px 15px;
}

input[type="text"]:focus {
  outline: none;
}

.chat {
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

.chat img {
  padding: 0 0 0 12px;
  width: 20%;
  height: 50px;
}

.chat h5 {
  font-size: 15px;
}

.chat .nameUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nameUser h6 {
  color: #848484;
  font-size: 14px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message.receiver h4 {
  color: #7e98df;
  font-size: 14px;
}

.message.sender h4 {
  color: #848484;
  font-size: 14px;
}

.message h3 {
  font-size: 12px;
  color: white;
  background-color: #7e98df;
  padding: 4px 8px;
  border-radius: 100%;
}

.message.sender img {
  width: 15%;
  height: 15%;
}

.coloumn2 {
  border: black solid 1px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
