@media only screen and (max-width: 600px) {
  .menu {
    width: 40% !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.toastNotif {
  position: absolute;
  margin: 40px 30px;
  background-color: #7e98df;
  color: white;
}

.containerMain {
  font-family: "Rubik", sans-serif;
}

.coloumn1 {
  padding: 15px 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  box-sizing: border-box;
  padding: 10px 0;
}

.navbar div {
  padding: 6px;
}

.navbar div:hover {
  background-color: rgb(212, 212, 212);
  padding: 6px;
  border-radius: 20%;
  cursor: pointer;
}

.menu {
  position: absolute;
  background: #7e98df;
  border-radius: 35px 10px 35px 35px;
  padding: 10px 20px;
  width: 16%;
  margin-left: 155px;
  margin-top: -10px;
  z-index: 9;
}

.icon img {
  width: 11%;
  margin-right: 15px;
}

.icon p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.icon:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
}

.icon:hover p {
  color: #000000;
}

.settings {
  padding: 0;
}

.coloumn1 h2 {
  font-weight: 800;
  font-size: 29px;
  color: #7e98df;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search div {
  border: rgb(204, 204, 211) solid 1px;
  width: 88%;
  background-color: rgb(246, 246, 250);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search div img {
  margin: 0 0 0 20px;
}

.search .addContact {
  padding: 10px;
}

.search .addContact:hover {
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
  cursor: pointer;
}

.search input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(246, 246, 250);
  padding: 7px 15px;
}

input[type="search"]:focus {
  outline: none;
}

.chat {
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  border-bottom: rgb(204, 203, 203) solid 1px;
  position: relative;
  display: flex;
  align-items: center;
}

.chat:hover {
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.chat .profile {
  display: flex;
}

.chat img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 15px;
  border: rgb(209, 209, 209) solid 1px;
}

.chat h5 {
  font-size: 15px;
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.chat .nameUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nameUser h6 {
  color: #848484;
  font-size: 14px;
  margin: 0;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message.receiver h4 {
  color: #7e98df;
  font-size: 14px;
}

.message.sender h4 {
  color: #848484;
  font-size: 14px;
}

.message h3 {
  font-size: 12px;
  color: white;
  background-color: #7e98df;
  padding: 4px 8px;
  margin: 0;
  border-radius: 100%;
}

.message.sender img {
  width: 10%;
  height: 10%;
}

.coloumn2 {
  border-left: rgb(204, 201, 201) solid 1px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #848484;
}

.coloumn21 {
  border-left: rgb(204, 201, 201) solid 1px;
  font-size: 24px;
  height: 100vh;
  color: #848484;
  margin: 0;
  position: relative;
  padding: 0;
}

.toastColoumn21 {
  width: 100%;
  height: 100vh;
}

.coloumn21 .top {
  margin: 0;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 3px 5px rgb(161, 160, 160);
  position: relative;
  z-index: 9;
}

.topLeft {
  display: flex;
  box-sizing: border-box;
}

.topLeftName {
  padding: 0;
}

.topLeft img {
  width: 77px;
  height: 50px;
  border-radius: 35%;
}

.topLeft span {
  color: #232323;
  font-weight: 500;
  font-size: 16px;
}

.topLeft p {
  color: #7e98df;
  font-size: 13px;
  margin: 0;
}

.topLeftName .statusOnline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topRight div {
  padding: 7px;
}

.topRight div:hover {
  background-color: rgb(212, 212, 212);
  padding: 6px;
  border-radius: 20%;
  cursor: pointer;
}

.messages {
  padding: 0px 20px;
  position: relative;
  height: 81.5%;
  overflow-y: scroll;
  padding: 20px 50px;
  background-image: url("../../../assets//img//double-bubble.png");
}

.messages div {
  padding: 10px 20px;
}

.messages .sender {
  background: #e2e2e2;
  border-radius: 35px 10px 35px 35px;
}

.messages .receiver {
  background: #7e98df;
  border-radius: 35px 35px 35px 10px;
  color: white;
}

.messages span {
  font-family: "Rubik", sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 10px;
}

.inputChat {
  border-top: rgb(207, 200, 200) solid 1px;
  border-bottom: rgb(207, 200, 200) solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 0 20px 0 0px;
}

.inputChat input {
  width: 85%;
  border: none;
  border-radius: 10px;
  background-color: rgb(246, 246, 250);
  padding: 10px 15px;
}

.inputChat input[type="text"] {
  outline: none;
  font-size: 18px;
}

.inputChat img:focus {
  background-color: red;
}

.inputChat ::placeholder {
  font-size: 16px;
}

.inputChat img {
  width: 25px;
  height: 25px;
}

.contactInfo {
  padding: 0;
  margin: 0;
}

.modalAddFriend .search div {
  width: 100%;
}

.modalAddFriend h3 {
  padding: 10px 0 20px 0;
  color: #7e98df;
  text-align: center;
}

.containerAddContact {
  height: 350px;
  overflow-y: scroll;
}

.addFriendContact {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.addFriendContact:hover {
  background-color: #ebebeb;
  border-radius: 10px;
}

.addFriend {
  display: flex;
}

.addFriend h5 {
  font-weight: 400;
}

.addFriend img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: #cacaca solid 1px;
  margin-right: 20px;
}

.iconChat,
.iconAdd {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.iconChat:hover,
.iconAdd:hover {
  background-color: #848484;
  border-radius: 10px;
  cursor: pointer;
}
